*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

header{
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    width: 100%;
    align-self: center;
    background-color: grey;
    position: fixed;
}



select{
    cursor: pointer;
    background-color: #2b2a29;
    border-color: #2b2a29;
    color: #fff;
}

select,input {
    margin-left: 10px;
    border-radius:5px;
    padding: 10px;
    width: 90px;
    text-align: center;

}

button{
    margin-left: 5px;
    border-radius:5px;
    padding: 10px;
    background-color: #f26522;
    border-color: #f26522;
    cursor: pointer;
}

button i{
    color: #fff;
    font-weight: bold;
}

input[type=text]{
    width: 400px;
    box-shadow: 0 0 15px 4px;
    border-radius: 5px;
}

.logo{
    flex: 1;
    position: relative;
    top: -35px;
    left: -30px;
    display: flex;
}

.logo img{
    width: 120px;
}

.menu{
    position: relative;
    flex: 3;
    display: flex;
}
.menu a{
    margin-left: 30px;
    border-radius:5px;
    padding: 10px;
    background-color: #f26522;
    border-color: #f26522;
    cursor: pointer;
}

.others{
    position: relative;
    top: -12px;
    flex: 0;
    display: flex;
}

.others a{

    margin: 15px;
}

.others a i{
    font-size: x-large;
    color: #2b2a29;
}


section{
    margin-top: 10px;
    font-size: 20px;
}

.serparater{
    width: 100%;
    border-bottom: 3px solid #f26522;
    padding: 10px 0;
    text-align: center;
    margin: 20px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* category */
.category{
    padding: 100px 0 0;
}

.category-right{
    width: 80%;
}
.content{
    justify-content: space-between;
}

.content-item{
    width: calc(33% - 15px);
    text-align: center;
    padding: 12px 0;
}

.content-item img{
    width: 100%;
}

.subcontainer{
    padding-left: 50px;
}

/* footer */
.footer{
    margin-top: 30px;
    background-color: grey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 200px;
}

.footer img{
    height: 100px;
}

.footer li{
    padding: 0 12px;
    position: relative;
}

.footer li ::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.title{
    color: #f26522;
    font-weight: 500;
    margin: 5px;
}