<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/crud.css}">

    <style>
        .serparater {
            width: 100%;
            border-top: 1px solid #28a745;
            border-bottom: 1px solid #28a745;
            padding: 10px 0;
            text-align: center;
            margin: 20px 0;
            font-size: 13px;

        }
    </style>
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>

<body>



    <!--------page-content---------------->

        <div class="top-navbar">
            <div class="xp-topbar">

                <!-- Start XP Row -->
                <div class="row">
                    <!-- Start XP Col -->
                    <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                        <a class="xp-menubar" th:href="@{/home/customer}">
                            <a th:href="@{/home/customer}"><img style="width: 100px"
                                    src="http://drive.google.com/uc?export=view&id=1PvcxMzPLy5G5z2BU0padYhW1aLCwKs5E" alt=""></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!--------main-content------------->

        <div class="main-content">
            <div class="row">

                <div class="col-md-12">
                    <div class="table-wrapper">
                        <form method="post" th:action="@{/customer/profile}" th:object="${customer}">
                            <div class="serparater">
                                <h4 class="modal-title">User profile</h4>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="userName" name="userName" th:value="${customer.getCusName()}" th:field="*{userName}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="cusName" name="cusName" th:value="${customer.getCusName()}" th:field="*{cusName}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="password" name="password" th:value="${customer.getPassword()}" th:field="*{password}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" th:value="${customer.getPhoneNumber()}" th:field="*{phoneNumber}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" id="email" name="email" th:value="${customer.getEmail()}" th:field="*{email}">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" value="Update">
                            </div>

                        </form>


                    </div>
                </div>
            </div>

            <div class="serparater">
                <h4>Order History</h4>
            </div>
            <!-- ------------------------- -->
            <div class="main-content">
                <div class="row">

                    <div class="col-md-12">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                                        <!-- <h2 class="ml-lg-2">Order History</h2> -->
                                    </div>
                                </div>
                            </div>

                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Time Order</th>
                                    <th>Number of people</th>
                                    <th>Table</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${listOrder}">
                                    <td th:text="${order.getOrderId()}" />
                                    <td th:text="${order.getTimeOrder()}" />
                                    <td th:text="${order.getNumberCustomer()}" />
                                    <td th:text="${order.getStringTable()}" />
                                    <td th:text="${order.getOrderStatus()}" />
                                    <td>
                                        <div th:if="${order.getOrderStatus().equals('Wait Set')}">
                                            <a th:href="@{/customer}" th:text="Delete"></a>
                                            <a th:href="@{/customer}" th:text="Edit"></a>
                                        </div>
                                        <div th:if="${order.getOrderStatus().equals('Wait Pay')}">
                                            <a th:href="@{/customer}" th:text="View"></a>
                                            <a th:href="@{/customer}" th:text="Pay"></a>
                                        </div>
                                        <div th:if="${order.getOrderStatus().equals('Complete')}">
                                            <a th:href="@{/customer}" th:text="View"></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>


                <!---footer---->


            </div>
            <!---footer---->


        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="footer-in">
                    <p class="mb-0">&copy 2023 - All Rights Reserved.</p>
                </div>
            </div>
        </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>



</body>

</html>