<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <script src="https://kit.fontawesome.com/2b070e02a1.js" crossorigin="anonymous"></script>
</head>

<body>


<header>
    <div class="logo">
        <a th:href="@{/home/customer}"><img
                src="http://drive.google.com/uc?export=view&id=1PvcxMzPLy5G5z2BU0padYhW1aLCwKs5E" alt=""></a>
    </div>
    <div class="menu">
        <!-- LIST COMPANY -->
        <form th:action="@{/home/customer/search}" method="post">
            <select name="company" id="company">
                <option value="">Brands</option>
                <option th:each="company : ${listCompany}" th:value="${company.getCompanyID()}"
                        th:text="${company.getCompanyName()}">
                </option>
            </select>
            <select name="city" id="city">
                <option value="">City</option>
                <option th:each="city : ${listCity}" th:value="${city}" th:text="${city}">
                </option>
            </select>
            <input type="text" placeholder="Restaurant Name" name="restaurantName" id="restaurantName" value="">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="others">
        <!--PROFILE-->
        <a th:href="@{/customer/profile}"><i class="fa fa-user"></i> </a>
        <!--LOGIN BUTTON-->
        <!--        <a th:href="@{/login/logout}"><i class="fa fa-sign-in"></i> </a>-->
        <!--LOGOUT BUTTON-->
        <a th:href="@{/login/logout}"><i class="fa fa-sign-out"></i> </a>
        <!--ABOUT US-->
        <!--        <a th:href=""><i class="fa fa-question"></i> </a>-->
    </div>
</header>
<!-- start body -->
<section class="category">
    <div class="container">
        <div class="row">
            <div class="category-left">
                <div class="box">
                    <h1>Discovery</h1>
                    <div class="subcontainer">
<!--                        <ul>-->
<!--                            <li><i class="fa fa-spoon">Restaurant</i>-->
<!--                                <ul th:each="category : ${listCategoryRes}">-->
<!--                                    <li><a href="" th:href="@{/home/customer/search/{category}(category = ${category})}"-->
<!--                                           th:text="${category}"></a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><i class="fa fa-location-arrow">City</i>-->
<!--                                <ul th:each="city : ${listCity}">-->
<!--                                    <li><a href="" th:text="${city}"></a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>


            <div class="category-right row">


                <h1 style="width: 100%;border-bottom: 3px solid #f26522;text-align: center;height: 35px; font-size: 30px">Hot Restaurants:</h1>

                <div class="content row">
                    <a th:href="@{/restaurant/customer/{id}(id=${restaurant.getResID()})}"
                       class="content-item"
                       th:each="restaurant : ${listRestaurant}">
                        <img th:src="@{${restaurant.getPicture()}}" alt="">
                        <h1 th:text="${restaurant.getResName()}"></h1>
                        <i class="fa fa-location-arrow"></i>
                        <span th:text="${restaurant.getCity()}"></span>
                        <span th:text="${restaurant.getDistrict()}"></span>
                        <p>Rating: <span th:text="${restaurant.getRatingPoint()}"></span></p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- footer -->
<footer>
    <li><a href=""><img src="http://drive.google.com/uc?export=view&id=1PvcxMzPLy5G5z2BU0padYhW1aLCwKs5E" alt=""></a>
    </li>
    <li><a href="">Contact</a></li>
    <li><a href="">We're hiring</a></li>
    <li><a href="">About us</a></li>
</footer>

</body>
</html>